#mango-sticky-rice-title{
    text-align: center;
    border: 2px solid black;
    background-color: rgb(159, 202, 202);
}
#mango-sticky-rice-image{
    display: block;
    margin: auto;
}
.description-body{
    border: 2px solid black;
    margin: 20px 0px;
    padding: 10px;
    background-color: rgb(128, 119, 119);
}
.cooking-steps li{
    padding-bottom: 5px;
}